html, body {
    background-color:black;
    margin: 0;
    padding:0;
    height:100%;
    overflow:auto;
    box-sizing: border-box!important;
    font-family: asgaltregular, sans-serif;
}

.titleFont{
    font-family: SpaceAge, Sans-Serif !important;
}

h1, h2, h3, h4, h5, h6{
    color: white;
}

h1 {
    color: white;
    margin: 0;
    text-align:center;
    font-size:3em;
    padding-top:60px;
}

h2{
    margin:20px 20px 0 20px;
    font-size: 3em;
}

/* Background */

img.background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  display:none;
}

@media screen and (max-width: 1024px) { 
  img.background {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* Entry Screen */

div.coverScreen{
   position: absolute; 
   width: 100%;
   height:100%;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding: 0;
   margin: 0;
   top:0;
   display:none;
}

#titleBox { 
   position: absolute;
   top: 35%; 
   left: 20%;
   width:60%;
   text-align:center;
   color: white; 
   font: bold 72px/96px SpaceAge, Sans-Serif;
}

/* Top Menu */

nav {
   position: fixed;
   top: 0;
   width:100%;
   display:none;
   overflow:hidden auto;
   z-index:5;
}

nav > h2 {
    color:white;
}

nav > ul > li {
    color:white;
    float: left;
    width:20%;
}

nav > ul > li:active {
    color:white;
    float: left;
    background-color: #111;
}

nav > ul {
    border-bottom:5px solid purple; 
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width:75vw;
    background-color: rgba(0, 0, 0, 0.7);
}

nav > ul > li button {
    background-color:rgba(0, 0, 0, 0.7);
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:100%;
}

ul 
{
    list-style-type: none;
    padding-left: 0px;
}

ul li span { 
    float: left;
    width: 50%;
}

li button:active {
    background-color: #111;
}

li button:hover {
    background-color: #111;
}

/* Main Section */

article {
    min-height:100vh;
    position: relative;
    top: 0; 
    display:block;
    margin:0 auto; 
    padding:0;
    width:75vw;
    background-color: rgba(0, 0, 0, 0.7);
}

article > h1 {
    top: 5.8vh; 
}

article > div {
    top: 5.8vh; 
}

article > ul {
    top: 5.8vh; 
}

p {
    padding:0 10px;
    color: white;
    font-size:2em;
    margin: 0 10px 0 10px;
}

/* Document Wrapper */
.doc{
    width:auto;
    height:99%;
    margin:0 auto;
    padding:0;
}

embed{
    padding:0;
    margin:0;
}

/* Fonts */

@font-face {
  font-family: 'SpaceAge';
  src: url('../fonts/SpaceAge.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SpaceAge.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SpaceAge.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SpaceAge.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'asgaltregular';
    src: url('../fonts/Asgalt-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;

}
#gameplay{
    min-height:100vh;
    height:100%;
}
#slideshows{
    min-height:100vh;
    height:100%;
}
#slideshows > ul{
    margin-top:0;
    padding-top:0;
}

#slideshows h2{
    margin-top:0;
    padding-top:0;
}

#slideshows span{
    margin-top:0;
}
 

.slideshow{
    text-align:center;
    padding-top:20px;
    width:50% !important;
}
.topslideshow{
    text-align:center;
    padding-top:60px;
    width:100% !important;
}